In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Berlevag,NO,2021-07-28 07:12:24,70.8578,29.0864,46.35,93,90,5.75
1,1,Atasu,KZ,2021-07-28 07:12:24,48.6814,71.6433,75.00,22,0,5.57
2,2,Kahului,US,2021-07-28 07:12:24,20.8947,-156.4700,77.85,86,40,17.27
3,3,Atuona,PF,2021-07-28 07:12:25,-9.8000,-139.0333,78.08,71,5,17.92
4,4,Vaini,TO,2021-07-28 07:12:25,-21.2000,-175.2000,69.96,78,75,8.05

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [21]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [27]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
winds = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=winds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [32]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Atasu,KZ,2021-07-28 07:12:24,48.6814,71.6433,75.00,22,0,5.57
2,2,Kahului,US,2021-07-28 07:12:24,20.8947,-156.4700,77.85,86,40,17.27
3,3,Atuona,PF,2021-07-28 07:12:25,-9.8000,-139.0333,78.08,71,5,17.92
5,5,Almeria,ES,2021-07-28 07:12:26,37.1667,-2.3333,77.14,48,0,0.78
7,7,Aquiraz,BR,2021-07-28 07:09:28,-3.9014,-38.3911,78.89,88,13,9.98
13,13,Kapaa,US,2021-07-28 07:12:29,22.0752,-159.3190,80.92,76,75,1.01
14,14,Saint George,US,2021-07-28 07:12:29,37.1041,-113.5841,83.62,45,1,1.01
22,22,Banjar,ID,2021-07-28 07:12:32,-8.1900,114.9675,84.06,57,40,2.51
25,25,Savannah Bight,HN,2021-07-28 07:12:33,16.4500,-85.8500,82.00,73,73,22.88
26,26,Manono,CD,2021-07-28 07:12:33,-7.3000,27.4167,77.13,31,9,9.60

In [33]:
preferred_cities_df.count()

City_ID       180
City          180
Country       180
Date          180
Lat           180
Lng           180
Max Temp      180
Humidity      180
Cloudiness    180
Wind Speed    180
dtype: int64

In [34]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
1            Atasu      KZ     75.00  48.6814   71.6433
2          Kahului      US     77.85  20.8947 -156.4700
3           Atuona      PF     78.08  -9.8000 -139.0333
5          Almeria      ES     77.14  37.1667   -2.3333
7          Aquiraz      BR     78.89  -3.9014  -38.3911
13           Kapaa      US     80.92  22.0752 -159.3190
14    Saint George      US     83.62  37.1041 -113.5841
22          Banjar      ID     84.06  -8.1900  114.9675
25  Savannah Bight      HN     82.00  16.4500  -85.8500
26          Manono      CD     77.13  -7.3000   27.4167

In [38]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [45]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [46]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Atasu,KZ,75.00,48.6814,71.6433,Dostyk
2,Kahului,US,77.85,20.8947,-156.4700,Maui Seaside Hotel
3,Atuona,PF,78.08,-9.8000,-139.0333,Villa Enata
5,Almeria,ES,77.14,37.1667,-2.3333,Casa Rural El Laurel
7,Aquiraz,BR,78.89,-3.9014,-38.3911,Pousada Rua Camurupim
13,Kapaa,US,80.92,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
14,Saint George,US,83.62,37.1041,-113.5841,Best Western Plus Abbey Inn
22,Banjar,ID,84.06,-8.1900,114.9675,The Hamsa Resort
25,Savannah Bight,HN,82.00,16.4500,-85.8500,Villa on Dunbar Rock
26,Manono,CD,77.13,-7.3000,27.4167,Hotel hewa bora

In [48]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [49]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [50]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [51]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))